<a href="https://colab.research.google.com/github/HarmanBhutani/ML_projects/blob/main/Covid_tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
import pandas as pd
import numpy as np
import csv

In [10]:
tweets_df = pd.read_csv("Covid_train_data.csv", encoding='latin-1')

In [11]:
tweets_df.head()

   UserName  ...           Sentiment
0      3799  ...             Neutral
1      3800  ...            Positive
2      3801  ...            Positive
3      3802  ...            Positive
4      3803  ...  Extremely Negative

[5 rows x 6 columns]